Latihan1/CaseNamingPolicy.Test/bin/
Latihan1/CaseNamingPolicy/bin/Debug/
Latihan1/CaseNamingPolicy/obj/
Latihan1/CaseNamingPolicy/.vs/
Latihan1/CaseNamingPolicy.Test/obj/
/Latihan1/Benchmark/obj
/Latihan1/CaseNamingPolicy/bin/Release/net8.0
/Latihan1/Benchmark/bin
/Latihan2/Benchmark/obj
/Latihan2/Latihan2/.vs/Latihan2
/Latihan2/Latihan2/obj
